{% extends "base.html" %}
{% block content %}
<html>
   <head>
      <meta charset="UTF-8" />
      <link href="{{ url_for('static', filename='style.css', _external=True) }}" rel='stylesheet'>
   </head>
   <h3 id="review"><a href="{{ url_for('review') }}">Review</a></h3>
   <h3 id="down"><a href="{{ url_for('down_cv') }}">Download</a></h3>
   
   <div id ='Container'>
      <div id ='contact'>
         <p>
            Cormac Kerr
         </p>
         <p>
            <a href="mailto:cormackerr@hotmail.com">cormackerr@hotmail.com</a>
         </p>
         <p>
            +447562249524
         </p>
         <p>
            25 Greenville Avenue, BT53 7BJ
         </p>
      </div>
      <div id ='Education'>
         <h1>
            Education
         </h1>
         <h2>
            <strong>Queen’s University Belfast September 2019 – Pres</strong>
         </h2>
         <h2>
            <strong>
            Business Information Technology <br>Current Predicted (2:1)
            </strong>
         </h2>
         <br>
         <p>
            <u>Level 1 Modules:</u>
         </p>
         <p>
            Introduction to Software Engineering (<strong>68</strong>) <br>
            Introduction to Economics (<strong>78</strong>) <br>
             Accounting (<strong>73</strong>) <br> 
             Programming (<strong>56</strong>) <br>
         </p>
         <p>
            This course combines group projects, theoretical study and practical
            classes in a way that has significantly strengthened my computing
            skills and allowed me to develop a range of transferrable skills in:
         </p>
         <ul>
            <li>
               <strong>Web Development Languages: </strong>
               HTML, CSS and JavaScript.
            </li>
         </ul>
         <p>
            My Introduction to Software Engineering and Project Management module
            from first year consisted of myself and other team members developing a
            forum-based web application using a java web server. I used HTML to create my web forum and populated it with the basic
            components; header, drop-down, buttons, tables and the use of CSS to
            make the page look more aesthetic. JavaScript was also used to make the
            forum look more professional and dynamic e.g. the inclusion of a login
            feature and simple movements such as a button being magnified when
            hovered over by the user.
         </p>
         <p>
            I thoroughly enjoyed this module and achieved a 2:1 as a result of
            the hard work that I put in. It gave me a very beneficial insight into
            the development of web pages and was my first opportunity to work on a
            project collaboratively as a team to produce an end product.
         </p>
         <ul>
            <li>
               <strong>Programming Languages: </strong>
               Java, C++, SQL and Python
            </li>
         </ul>
         <p>
            <em>(Practical’s/Projects)</em>
         </p>
         <p>
            In first year, I attended weekly Java programming practical’s which
            covered the basic components of the language (Array, List, Queue,
            Objects). This has been extensively built upon this year in my Software
            Development module, where I am working as part of a team to create a
            Poker based card game using Android Studio. The project heavily
            incorporates the use of the three principles of OOP (Inheritance,
            Encapsulation and Polymorphism) to make my code as efficient as
            possible. My team and I have adopted an agile development approach;
            bi-weekly sprint submissions of a set of user stories agreed upon at
            the beginning of the process. This method is giving me valuable
            experience working in a fast-paced environment with frequent group
            meetings and code submissions. Another important method of development
            which I have made an effort to include since the start is Test Driven
            Development. This approach of writing effective unit tests before the
            actual implementation of the methods provides a much more concentrated
            and succinct program and prevents the code from becoming bloated as the
            development progresses.
         </p>
         <p>
            As part of my Information Modelling module this year I am creating a
            relational database system for a mock version of Queen’s Accommodation.
            This has involved frequent use of SQL to create a series of linked
            tables in the database and write numerous complex queries to find
            information stored in the database. This has significantly improved my
            ability to code and understand SQL.
         </p>
         <ul>
            <li>
               <strong>Organisational and Time Management: </strong>
               I efficiently manage my time by using a diary. This allows me to
               plan out the weeks ahead based around my timetable and include any
               meetings or extra-curricular activities I have planned. The diary
               is a medium for structuring my studies visually, and better enables
               me to hit deadlines and set achievable goals.
            </li>
         </ul>
      </div>
      <br>
      <div id='Education2'>
         <h2>
            <strong>Loreto College Coleraine September 2009 – June 2016</strong>
         </h2>
         <ul>
         <p>
            A-Levels: Government and Politics (A), Spanish (A), Computing (B).
         </p>
         <p>
            GCSE: 9 Grades A-B obtained including, Maths, Science and English.
         </p>
         <h3>
            <strong>Notable Achievements</strong>
         </h3>
         <ul>
            <li>During my A2 Computing year, my main piece of coursework was to
               design a game written in Java. This project was heavily focused on
               producing an application for a client based on a well- defined user
               requirement document, which was created at the beginning of the process
               while posing as a potential client. 
            </li>
            <li>I decided to create my own version of the popular who wants to be a
               millionaire game, consisting of 15 questions of increasing difficulty
               with 4 possible answers. Throughout the development process I adhered
               rigorously to the user requirement document which I created at the
               start, with regular ‘check-ins’ throughout to discuss with my client
               any potential changes. This allowed me to showcase in my final project
               all of the features which were agreed upon with the client.
            </li>
            <li>
               The development of this game not only enhanced my knowledge of OOP in
               Java, but it also gaveme a realistic insight into what it would be like to develop an
               application from the ground up for a demanding customer. As a result of
               my efforts in this project and the class on a whole I was given an
               award for outstanding achievement in A-Level Computing.
            </li>
         </ul>
         <br>
        </div>
         <div id = 'Work'>
            <h1>
               Work Experience
            </h1>
            <h2>
               Convergys Call Centre June 2018 – Present
            </h2>
            <p>
               I am currently working as an inbound telesales advisor for Vodafone. I
               am responsible for establishing new connections for customer who are
               interested in purchasing mobile contacts or home broadband.
            </p>
            <p>
               <strong><em>Relevant Skills:</em></strong>
            </p>
            <ul>
               <li>
                  There is a mandatory 16-week probationary period for all new
                  advisors in order to become familiar with the system and learn how
                  to engage with customers effectively; I graduated from this
                  probation period in 7 weeks. This showcases my ability to quickly
                  become proficient in new systems and also highlights my efficiency
                  when it comes to learning new material and embracing the challenges
                  that accompany it to ensure a concrete understanding.
               </li>
               <li>
                  I have been a member of an ‘Elite Team’ since December 2019, which
                  includes the top 10% of all advisors in the departments and is
                  based off a number of KPI’s that must consistently be met each
                  month to remain in the team.
               </li>
               <li>
                  I have excellent communication skills and I am able to articulate
                  myself well. This role involves taking multiple phone calls a day
                  with customers from a range of demographics, and I have a highly
                  adaptable conversation set depending on the customer I am speaking
                  to. As a result of this, I am able to build a genuine rapport with
                  my customers and maintain a high level of customer service
                  throughout.
               </li>
               <li>
                  I have a deep understanding of the product I am selling and present
                  myself as a very professional individual. This, combined with my
                  strong communication skills and proficiency in the system I am
                  using, is why I have consistently exceeded my monthly sales and
                  customer feedback targets and obtained a bonus for the past 3
                  consecutive months.
               </li>
            </ul>
         </div>
         <div id = "info">
         <h1>
            Additional Information
         </h1>
         <ul>
         <li>
         I have a passion for fitness and go to the gym 4-5 times a week,
         accompanied by moderate trackingof my diet using an app on my phone. I feel that having a solid
         work-leisure balance is essential for maintaining a healthy state of
         mind. In my opinion, the discipline and commitment that accompanies a
         structured gym routine are skills which are highly transferrable to the
         workplace and only enhance one’s ability to perform well.
         </li>
         <li>
         In upper sixth I achieved the highest mark in A-Level Spanish in my
         year, and I have since continued to speak the language on a regular basis to sustain my fluency. This
         bilingualism further demonstrates my exemplary communication skills,
         and I consider the ability to learn, speak and understand another
         language as a highly transferrable skill in regard to being able to
         learn and understand different programming languages.
         </li>
         </ul>
         </div>
         <br>
         <h1>
            References
         </h1>
         <div id='ref1'>
            <p>
               Neil Anderson QUB
            </p>
            <p>
               Lecturer
            </p>
            <p>
               Queen’s University Belfast
            </p>
            <p>
               BT7 1NN
            </p>
            <p>
               028 9097 4892
            </p>
            <p>
               <a href="mailto:n.anderson@qub.ac.uk">n.anderson@qub.ac.uk</a>
            </p>
        </div>
         <div id='ref2'>
            <p>
               <strong></strong>
               Wallace McCracken
            </p>
            <p>
               Causeway Coast and Glens Borough Council 
            </p>
            <p>
               Supervisor
            </p>
            <p>
               BT52 1EY
            </p>
            <p>
               07885413957
            </p>
            <p>
               <a href="mailto:info@causewaycoastandglens.gov.uk">
               info@causewaycoastandglens.gov.uk
               </a>
            </p>
        </div>
        </div>
  


</html>
{% endblock %}