<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
   </head>
   <h2 id="welcome">Hi there, welcome to my website! Below is a small preview of my CV.</h2>
   <br>
<div id ='Container'>
    <div id ='Education'>
        <h1>
            Education
        </h1>
        <p>
            <strong>Queen’s University Belfast September 2019 – Pres</strong>
        </p>
        <p>
            <strong>
             Business Information Technology
            </strong>
        </p>
    <p>
        <u>Level 1 Modules:</u>
    </p>
    <p>
        This course combines group projects, theoretical study and practical
        classes in a way that has significantly strengthened my computing
        skills and allowed me to develop a range of transferrable skills in:
    </p>
    <ul>
        <li>
            <strong>Web Development Languages: </strong>
            HTML, CSS and JavaScript...
        </li>
    </ul>
    <p>
        My Introduction to Software Engineering and Project Management module
        from first year consisted of myself and other team members developing a
        forum-based web application using...
     </p>
</div>
</div>
<br>
<h2 id="links"> Please <a href="{{ url_for('login') }}">Login</a> or <a href="{{ url_for('register') }}"> Sign up</a> to read more</h2>
